body{
    padding: 0;
    margin: 0;
    background-image: url(images/background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weather-container{
    background-color: #FEFEE3;
    max-width: 400px;
    padding: 2.5rem;
    border-radius: 1rem;
    text-align: center;
    border: 2px solid #D68C45;
}

h2,label,p{
    color: #2C6E49;
    margin: 8px 0;
}

input{
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20px;
}

button{
    background-color: #4C956C;
    color: white;
    padding: 8px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    width: 100px;
    cursor: pointer;
}

button:hover{
    background-color: brown;
}

#temp-div p{
    font-size: 40px;
    margin-top: -30px;
}

#weather-info{
    font-size: 20px;
}

#weather-icon{
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#hourly-forecast{
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: black;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: black;
    margin-top: 10px;
}